@{
    ViewBag.Title = "ViewBagDetails Page";
}

<h3>@ViewBag.PageTitle</h3>

<div> Name : @ViewBag.Employee.Id</div>
<div> Name : @ViewBag.Employee.Name</div>
<div> Name : @ViewBag.Employee.Department</div>
<div> Name : @ViewBag.Employee.Email</div>